<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="CrmConnection" connectionString="Data Source=NCS51\SQLEXPRESS;Integrated Security=False;user id=intranet;password=intranet;Persist Security Info=False;Initial Catalog=Intranet_PRO;Application Name=GdP" providerName="System.Data.SqlClient" />-->
    <!--<add name="CrmConnection" connectionString="Data Source=localhost;Integrated Security=False;user id=intranet;password=intranet;Persist Security Info=False;Initial Catalog=GdP;Application Name=GdP" providerName="System.Data.SqlClient" />-->
    <!--<add name="CrmConnection" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;user id=jdinventario;password=jdinventario2019;Persist Security Info=False;Initial Catalog=PortalGestorias;Application Name=PortalGestorias" providerName="System.Data.SqlClient" />-->
    <add name="CrmConnection" connectionString="Data Source=localhost;Integrated Security=True;user id=jdinventario;password=jdinventario2019;Persist Security Info=False;Initial Catalog=PortalGestorias;Application Name=PortalGestorias" providerName="System.Data.SqlClient" />

    <add name="DcomConnection" connectionString="Data Source=localhost;Initial Catalog=localhost;Integrated Security=True;Application Name=PortalGestorias" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RutaEjecutableECAuthCLI" value="C:\inetpub\wwwroot\ECAuth\ECAuthCLI\ECAuth.CLI.exe" />
    <add key="EsEntornoPruebas" value="false" />
    <add key="ApiPath" value="http://localhost:55816/" />
    <add key="CarpetaTemplates" value="Templates" />
    <add key="CarpetaAdjuntos" value="Adjuntos"/>
    <add key="CarpetaLogs" value="Logs"/>
    <add key="UrlLogs" value="http://localhost:55816/Logs/"/>
    <add key="EsEntornoPruebas" value="true" />
    <add key="MailActivo" value="true" />
    <add key="MailToPruebas" value="ammartinez@ncs-spain.com" />
    <add key="MailDestinatarios" value="ammartinez@ncs-spain.com"/>
    <add key="MailServer" value="smtp.office365.com" />
    <add key="MailPort" value="587" />
    <add key="MailSSL" value="true" />
    <add key="MailFrom" value="administrador@ncs-spain.com" />
    <add key="MailUser" value="administrador@ncs-spain.com" />
    <add key="MailPass" value="NCS2005admin1" />

    <add key="MailEstaticoConvocatoriasCalendario" value="cvisitasncs@gmail.com" />
    <add key="Superadm" value="WTciFuuJ+phGeEIA0GIMvc7bWVfCcVMgPBGCTCVFX0CEzfVraYpbyMzjoOFnEhd74ZEASoZJonp32W8jS4sMGyDrQcY4gZ4Fo3wvS3rOj9yL2mT0EfhNbHHs1iA8+DwlROm5gUOxMUHX30x5XYUZe9t2ciStUSxQWuL5aZeCsNMtfPCLYRTo5Jo5U2OtGI0D3umXE3kpq+Nnv4frDrihJMUj/+FhmrQYz5BWfO3pJZN09QmmZD37+jeJEv7oJO3eD5ujdnbgymCocDS61XboYajJY0TNDMfhL55DtRYAs6m6bHGbVvyOoDKPE7r0wtoCuOf5nFHor21Fg0D6dBapqg==" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="IdSrv:Local:Path" value="Security/identity-server-experts-coding-dev.p12" />
    <add key="IdSrv:Local:Password" value="ExpertsC0ding@" />
    <add key="IdSrv:Store:StoreName" value="My" />
    <add key="IdSrv:Store:StoreLocation" value="LocalMachine" />
    <add key="IdSrv:Store:Thumbprint" value="3C1EEBE96145DEC806B99A04046116CE482D669F" />
    <!--Certificate Type: {Local | Store}-->
    <add key="IdSrv:Type" value="Local" />
    <add key="DComApplicationId" value="1" />
    <add key="DomainName" value="ncs-spain" />
    <add key="DomainUser" value="desarrollo" />
    <add key="DomainPassword" value="K5GYfPODRZP/nxfvQDKRUMzaHRfysd8dZkqBkeKqzFlMwS36pXHvSFCvrIBYUic6zi7GdjoKsb5xM3I/j8zzELlPraf5M31jtGRcc2EIWXOrNwTaEwb3KL41jFfnpRec1CKJOm7Zy26I33/01y/HmZKwX5UrXmU1/3Znuir9lAVKCEnpMyR0no/1hTkjAUqYywcU7FqE2iIm4BHBcQbBPhlVO7RSGpMZWF7gF0igMxj14NpaUTkz7XTw7YcZcykjvEJExN067rgtGFwRX1kkCUWg2mOmbvsidJAi0GSYwloxU9nx+/XsMiH1/8ejyzmh7IPUQn5tiwDBdhdCqX+Ztw==" />
    <!--AuthenticationType: {Domain | TestingLocal}-->
    <add key="AuthenticationType" value="TestingLocal" />
    <add key="Authentication:Authority" value="http://localhost:5000" />
    <add key="Authentication:ThisWebAppUrl" value="http://localhost:55816/" />
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="d:\logs\GdP\trace-{Date}.log" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="30" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Level} {Timestamp:yyyy-MM-dd HH:mm:ss} {Message}{NewLine}{Exception}" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.1" />
    <globalization culture="es-ES" uiCulture="es-ES" enableClientBasedCulture="false" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>